@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #192a56;
	color: #fff;
	font-family: 'Muli', sans-serif;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}



.lc {
	color: #ff3838;
	font-size: 100px;
	margin: 0;
}

p {
	color: rgba(174, 55, 55, 0.8);
	letter-spacing: 2px;
	margin: 0;
	font-size: 25px;
}













@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}